.footer{
    background-image: url(../img/model-600238_1920.jpg);
    @include imagePosition;
    @include sectionSize;
    .footer__wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: rgb(255,255,255);
        background: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%);
        .wrapper__links{
            width: 50%;
            height: 50%;
            @include commonDisplay;
            flex-direction: column;
            font-family: $mainFont;
            font-size: 1.5vw;
            color: white;
            .contact-link:nth-of-type(1){
                width: 80%;
                height: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    padding: .3em;
                    font-size: 3vw;
                    color: $additionalColor;
                }
            }
            .contact-link:nth-of-type(2){
                width: 80%;
                height: 25%;
                display: flex;
                justify-content: left;
                align-items: center;
                span{
                    padding: .3em;
                    font-size: 3vw;
                    color: $additionalColor;
                }
            }
            .contact-link:nth-of-type(3){
                width: 80%;
                height: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    padding: .3em;
                    font-size: 3vw;
                    color: $additionalColor;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
            }
            .contact-link:nth-of-type(4){
                width: 80%;
                height: 25%;
                display: flex;
                justify-content: left;
                align-items: center;
                span{
                    padding: .3em;
                    font-size: 3vw;
                    color: $additionalColor;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
        .wrapper__social-media{
            width: 50%;
            height: 50%;
            @include centerDisplay;
            flex-direction: column;
            font-family: $mainFont;
            font-size: 1.5vw;
            color: white;
            h1{
                color: $mainColor;
            }
        }
    }
}