@mixin sectionSize {
    width: 100%;
    height: 100vh;  
}
@mixin  commonDisplay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@mixin centerDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin imagePosition{
    background-size: cover;
    background-position: center;
}
@mixin shopSectionLink {
    font-size: 6vw;
    color: $arrowColor;
}
@mixin itemLandscape {
    width: 21%;
    height: 45%;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgba($color: $mainColor, $alpha: .6);
    border-right: 1px solid rgba($color: $mainColor, $alpha: .6);
}